*
{
    margin: 0px;
    padding: 0px;
}
 body
 {
     background: lawngreen;
     background-size: cover;
     background-position: center;
     font-family:sans-serif;
 }
 .nav-wrapper
 {
     display: inline-block;
 }
.slider
{
    height: 400px;
    width: 100%;
    background-color: gray;
    overflow: hidden;
}
.sliderchild
{
    height: 500px;
    width: 500%;
    background-color:rgb(36, 63, 44);
    animation-name: slider;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    animation-delay:2s;
    overflow: hidden;
}
.imagecon
{
    height: 500px;
    width: 20%;
    background-color:gray;
    float:left;
}
.imagecon:nth-child(1)
{
    background-image:url('assets/pic1.jpg');
    background-repeat:no-repeat;
    background-size: cover;
}
.imagecon:nth-child(2)
{
    background-image:url('assets/pic2.jpg');
    background-repeat:no-repeat;
    background-size: cover;

}
.imagecon:nth-child(3)
{
    background-image:url('assets/pic3.jpg');
    background-repeat:no-repeat;
    background-size: cover;
}
.imagecon:nth-child(4)
{
    background-image:url('assets/pic4.jpg');
    background-repeat:no-repeat;
    background-size: cover;
}
.imagecon:nth-child(5)
{
    background-image:url('assets/pic1.jpg');
    background-repeat:no-repeat;
    background-size: cover;
}
@keyframes slider
{
    12.5%
    {
        margin: left -100%;
    }
    25%
    {
        margin-left: -100%;
    }
    37.5%
    {
        margin-left: -200%;
    }
   50%
   {
       margin-left: -200%;
   }
   62.5%
   {
       margin-left: -300%;
   }
   75%
   {
       margin-left: -300%;
   }
   87.5%
   {
       margin-left: -400%;
   }
   100%
   {
       margin-left: -400%;
   }
}
.btn-primary
{
    margin-bottom: 0px;
}
.about
{
    display:block;
    z-index: 2;
}
